@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: var(--text-color);
}

button:hover > a {
    text-decoration: none;
    color: var(--white-color);
}
a:hover {
    text-decoration: none;
}
td,
th {
    vertical-align: unset !important;
}
ul {
    list-style: none;
}
img {
    object-fit: cover;
}
