@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@layer components {
}
* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.product-upload-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.styled-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.styled-scrollbar::-webkit-scrollbar-track {
    /* @apply bg-violet-200 */
    background: rgb(246, 244, 255);
}

.styled-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(142, 114, 255);
    border-radius: 999px;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(73, 28, 255);
}

.noUi-connect {
    background-color: rgb(198, 0, 198) !important;
}

.product-description p img {
    border-radius: 10px;
    margin: 15px auto;
}
.product-description p {
    margin-bottom: 6px;
    line-height: 1.7;
}
.product-description hr {
    margin: 20px 0;
}
.product-description h2,
h3 {
    margin: 20px 0;
    font-size: 20px;
}
.product-description ul {
    margin: 20px 0 20px 25px;
    list-style: disc;
}
option {
    font-size: 13px;
}

.tab-active {
    background-color: rgb(51 65 85);
    color: white;
}

.comment-textarea-active {
    background-color: rgb(221 214 254);
    opacity: 0.5;
    color: rgb(96, 13, 230);
}
