@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@layer components {
}
* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.product-upload-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
